@import url('https://fonts.googleapis.com/css?family=Roboto:300');


* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ---------- PAGINA DE LOGIN E REGISTRO ---------- */

body .loginpage {
  background: #181818;
  color: #fff;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.right {
  flex: 1.5;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* LOGIN */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

.login form {
  width: 80%;
  padding-bottom: 3rem;
}

.login .logo {
  margin-bottom: 8vh;

}

.login .logo img {
  width: 300px;
}

.login label {
  font-size: 0.9;
  line-height: 2rem;
  font-weight: 500;
}

.login .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

.login .btn-login {
  width: 100%;
}

.login .btn-register,
.ou,
.links {
  width: 60%;
}

.login .links a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.login .ou {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}

.login .ou .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

.login .ou span {
  color: #ccc;
  padding: 0 0.8rem;
}
.btn-login {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #f96816;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.btn-login:hover {
  background-color: #ff7b39;
}

.btn-register {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.btn-register:hover {
  border-color: #ff7b39;
  color: #ff7b39;
}

@media(min-width: 1200px) {
  #left{
    flex: 4;
  }
  #right {
    flex: 6;
  }
}
/* --------------------- FIM ---------------------- */

.choice {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white
}

.container{
  position: relative;
  width: 90%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: auto;
  grid-gap: 0 40px;
}

.container .box {
  position: relative;
  height: 400px;
  background: #060c21;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.container .box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  transform: skew(1deg, 1deg);
  z-index: -1;

}

.content {
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}

.box .content h2 {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255,255,255,.05);
  transition: 0.5s;
}

.box:hover .content h2 {
  top: -140px;
}

.box .content h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.box .content p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}

.box .content .btn-cadastra {
  position: relative;
  margin: 10px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}

.box:hover .content .btn-cadastra {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.box .content .btn-cadastra:hover {
  color: #000;
  background: #fff;
}
/* --------------------- HOME --------------------- */
.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}
.fixed-top  {
  -webkit-backface-visibility: hidden;
}

.fixed-background {
  position: relative;
  width: 100%;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed; 
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

[class*="col-"] {
  padding: 1rem;
}

.navbar {
  padding: .7rem 1rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
  transition: background-color .5s ease 0s;
}
.navbar-brand img {
  height: 2rem;
}
.svg-inline--fa.fa-w-14 {
  color: white;
  font-size: 1.6rem;
}
.navbar-nav li {
  padding-right: .8rem;
}
.navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #1ebba3;
}
.navbar.solid {
  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}

.home-inner {
  background-image: url('../images/home1.jpg');
}
.caption {
  margin-top: 100px;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
}
.caption h1 {
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 2rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block!important;
}
/* --------------------- FIM ---------------------- */
/* ---------------- TELA DE ESCOLHA --------------- */


/* --------------------- FIM ---------------------- */
/* ----------------- FORM CADASTRO ---------------- */

.form {
  background-color: #DBDBDB;
}

.form input:focus {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  transition: 0.5s;
  text-shadow: none;
}

.form .btn-cadastra {
  border-radius: 1.5rem;
  border: none;
  width: 120px;
  background: #3D51FF;
  font-weight: white;
  color: white;
  margin-top: 20px;
  padding: 10px;
}

.form .btn-cadastra:hover {
  background: #122AFE;
}

.form .btn-cadastra:before {
  background: white;
}

.register-form {
  background-color: white;
  border: none;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageusu1 {
  line-height: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.imageusu2 {
  border:1px dotted black;
  border-radius:50%;
}

.imagemusu {
  background: url('../images/foto-padrao.png');
  margin-left: 23px;
  margin-top: 20px;
  width: 260px;
  height: 260px;
  background-position: center; /*posisiona a imagem no centro do elemento*/
  background-repeat: no-repeat; /*Não repete*/
  background-size: cover;  /*deixa a imagem na proporção*/
  border-radius: 10px;  /*arredonda os cantos*/
  border: 1px solid #A9A9A9; /*adiciona borda*/
}

@media screen and (max-width: 368px) {
  .imagemusu.smallResolution{
      min-height: auto;
  }
}

.form-control:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

label {
  display: inline-block;
  margin-bottom: 0;
}
.form-control {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}

.usu {
  padding: 0.3rem;
}

.form-group .form-control input {
  width: 100%;
  height: 38px;
  color: hsl(0, 0, 20);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none!important;
  border: 1px solid hsla(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
}


/* --------------------- FIM ---------------------- */

